.uploader {
  box-sizing: border-box;
  width: 34.5541401273%;
  height: 3.611111111111vw;
  background: #585cc6;
  border-radius: 0.13888888888888vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.25vw;
  letter-spacing: 0.01em;
  color: #ffffff;
  cursor: pointer;
  img {
    width: 6.91244239631%;
    height: 1.0416666666666vw;
    margin-right: 5.069124423963%;
  }
  input[type='file'] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  &:hover {
    background: linear-gradient(to right, #696dc8, #585cc6);
  }
}

.disabled {
  background: #8a8a8a;
  &:hover {
    background: #8a8a8a;
  }
}

@media (max-width: 540px) {
  .uploader {
    width: 58.203125%;
    height: 13.125vw;
    border-radius: 0.625vw;
    font-size: 4.375vw;
    line-height: 5.625vw;
    letter-spacing: 0.01em;
    margin-top: 4.6875%;

    img {
      width: 6.39597315%;
      height: 22.6904762%;
      margin-right: 3.478125vw;
    }
  }
}
